.menu__link {
  /*position: absolute;*/
  /*width: 50px;
  height: 18px;*/
  /*left: 48px;
  top: 6856px;*/
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height, or 112% */
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 18px;
}

.menu__link:last-of-type {
  margin-right: 0px;
}

@media screen and (max-width: 768px) {
  .menu__link {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 320px) {
  .menu__link:last-of-type {
    margin-bottom: 0px;
  }
}

