.lead__image {
  max-width: 100%;
  margin: 0px;
  object-fit: cover;
}

@media screen and (max-width: 1150px) {
  .lead__image {
    position: relative;
    width: calc(100% + 48px);
  }
}

@media screen and (max-width: 650px) {
  .lead__image {
    width: calc(100% + 32px);
  }
}

