  .cover__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*padding: 312px 245px;*/
    box-sizing: border-box;
    max-width: 100%;
    position: relative;
    z-index: 0;
    overflow: hidden;
    color: #fff;
    text-decoration: none;
    min-height: 740px;
  }

@media (max-width: 1150px) {
  .cover__overlay {
    /*padding: 232px 195px;*/
    min-height: 640px;
  }
}

@media (max-width: 950px) {
  .cover__overlay {
    /*padding: 115px 104px;*/
    min-height: 480px;
  }
}

@media (max-width: 650px) {
  .cover__overlay {
    /*padding: 33px 16px;*/
    min-height: 200px;
  }
}

  .cover__overlay::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #2A2C2F;
    opacity: 0.3;
    z-index: -1;
    transition: opacity 1s linear 0.2s;
  }

.cover__overlay:hover::before {
  opacity: 0.8;
}
